<!-- templates/partials/albums_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <p>
        <label for='album-title'>Title</label><br>
        <input id='album-title' type='text' name='title' value='{{ album.title }}'/>
    </p>
    
    <!-- GENRE -->
    <p>
      <label for='genre'>Genre</label><br>
      <input id='genre' type='text' name='genre' value='{{ album.genre }}' />
    </p>
    
    <!-- ARTIST -->
    <p>
        <label for='artist'>Artist</label><br>
        <input id='artist' type='text' name='artist' value='{{ album.artist }}' />
    </p>
    
    <!-- RATING -->
    <p>
        <label for='rating'>Rating</label><br>
        <input id='rating' type='text' name='rating' value='{{ album.rating }}' />
    </p>
    
    <!-- COVER ART -->
    <p>
        <label for='url'>Cover Art</label><br>
        <input id='url' type='text' name='url' value='{{ album.url }}' />
    </p>

    <!-- VIDEO IDS -->
    <p>
        <label for='album-video-ids'>Ids</label><br>
        <p>Add the ID of the video you want to include in your album. Separate with a newline.</p>
        <textarea id='album-video-ids' name='video_ids' rows='10'>{{ "\n".join(album.video_ids) }}</textarea>
      </p>
</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save Playlist</button>
</p>